div {margin-bottom: 0.5rem; width: 1000px; }
input[type='text'] {width: 800px; margin-left: 1rem; border-radius: 5px; float:right; }
input[type='button'] {width: 100px; margin-left: calc(1000px / 2 - 100px / 2)}